server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/firstai
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: Rama@2812

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

jwt:
  secret: 738de307750ce210e425f2e99adbde6d17fad984a821a12fc228f763583295d1
  expiration-ms: 86400000
